body {
    background: url(../images/background2.jpg) no-repeat center center fixed;
    font-family: 'Roboto', sans-serif;
    background-color: #0B0C10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #0B0C10;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* .button {
    text-align: center;
    background-color: #66FCF1;
    border-color: #0B0C10;
    border: 2px;
    color: #0B0C10;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    position: relative;
}

.button a {
    text-decoration: none;
    color: #0B0C10;
    background-color: #66FCF1;
    border-color: #0B0C10;
    line-height: 25px;
    border-width: 25px;
} */

button.nextQ {
    background-color: #369394;
    border-color: #0B0C10;
    color: #0B0C10;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.finishQ {
    background-color: #369394;
    border-color: #0B0C10;
    color: #0B0C10;
    display: inline-flex;
    padding: auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.container {
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 50px 30px;
    background-color: #369394;
    border-radius: 3px;
    color: #0B0C10;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 500px;
}

ul li {
    background: #45A29E;
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}

#prev {
    display: none;
}

#start {
    display: none;
    width: 100px;
}

input[type="radio"] {
    cursor: pointer;
}